<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta http-equiv="refresh" content="2;URL='{{ page.redirect }}'">
		<link rel="icon" href="/images/eplaheimr-favicon.png">
	</head>
	<body>
		<h1>{{ page.title }}</h1>
		<p><a href="{{ page.redirect }}">This page has moved</a>.</p>
	</body>
</html>
